* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
}

.search-icon {
  height: 3rem;
  width: 3rem;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  background: #fefefe;
  color: hsl(0, 0%, 52%);
}
.dark-theme-class-lighter {
  transition: all 0.3s ease;
  color: hsl(0, 0%, 100%);
  background: hsl(209, 23%, 22%);
}
.dark-theme-class {
  transition: all 0.3s ease;
  color: hsl(0, 0%, 100%);
  background: hsl(207, 26%, 17%);
}
.light-theme-class {
  transition: all 0.3s ease;
  color: hsl(200, 15%, 8%);
  background: hsl(0, 0%, 98%);
}
